@import "tailwindcss";
@plugin "daisyui";


.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
